#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Запуск папки Bash 
Comment=Comment here (though I'm not sure what does this do)
Exec=smplayer "/media/jeen/Transcend/Программирование Видеоуроки и Курсы/Linux/Linux_and_FreeBSD/Level_1_2/Видеокурс Linux. Уровень 1 и 2/Видеокурс Linux. Уровень 1 и 2 (2011.Rus)/level1/$num *.flv"
#Icon=/usr/share/icons/gnome/128x128/apps/libreoffice-base.png
Icon=/home/jeen/Bash/zDesctop/boostrap_logo.svg
Terminal=false
StartupNotify=true
Type=Application
OnlyShowIn=GNOME;Unity;
Categories=GNOME;GTK;Core;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.0.0
X-Ubuntu-Gettext-Domain=nautilus
Actions=Window;
